
//En este archivo van las configuraciones globales de mis estilos para usarlo debo importarlo en el archivo principal de estilos


//colors
$primary: #5C62C5;
$dark-grey: #363636;
$ligth-grey: #d8d8d8;


//button-google
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

